:root {
  --node-fg: hsl(220, 50%, 30%);
  --node-bg: hsl(220, 80%, 95%);
  --edge: rgb(128, 128, 128);
  --note-fg: hsl(40, 50%, 30%);
  --note-bg: hsl(40, 80%, 95%);
}

/* 通常のノード */
g.node > path {
  stroke: var(--node-fg);
  fill: var(--node-bg);
}
/* 通常のノードのラベル */
g.node > text {
  fill: var(--node-fg);
  font-family: HanaMinA, "花園明朝A", HanaMinB, "花園明朝B", serif;
}

/* 矢印の線 */
g.edge > path {
  stroke: var(--edge);
}
/* 矢印の頭 */
g.edge > polygon {
  stroke: var(--edge);
  fill: var(--edge);
}

/* 注釈用のノードの本体 */
g.note polygon {
  stroke: var(--note-fg);
  fill: var(--note-bg);
}
/* 注釈用のノードの三角の耳の部分の線 (?) */
g.note polyline {
  stroke: var(--note-fg);
}
/* 注釈本文 */
g.note text {
  fill: var(--note-fg);
}
